[Unit]
Description=VUART4 Console Server
ConditionPathExists=/etc/obmc-console/server.ttyVUART4.conf

[Service]
# Instance ID is the VUART basename
Restart=always
ExecStart=/usr/sbin/obmc-console-server --config /etc/obmc-console/server.ttyVUART4.conf ttyS3
SyslogIdentifier=VUART4-console-server


[Install]
WantedBy=multi-user.target
